<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-center" style="background-color: #fff;">
  <header class="header">
    <div class="logo text-center">
      <a routerLink="/gallery"><img src="https://image.flaticon.com/icons/svg/105/105706.svg" alt=""></a>
      <h5>INSPIRE STUDIO</h5>
    </div>
    <div class="menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/gallery" class="nav-link">Gallery</a>
        </li>
        <li class="nav-item">
          <a routerLink="/upload" class="nav-link"><i class="fas fa-arrow-alt-circle-up"></i>Upload</a>
        </li>
      </ul>
    </div>
  </header>
</nav>
