<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
<div class="container">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a
        routerLink="/gallery"
        class="navbar-brand"
        style="cursor: pointer;"><img src="https://image.flaticon.com/icons/png/512/390/390901.png" alt="" width="30" height="30"></a>
    </li>
    <li class="nav-item">
      <a routerLink="/gallery" class="nav-link" style="cursor: pointer;">Gallery</a>
    </li>
    <li class="nav-item">
      <a routerLink="/upload" class="nav-link" style="cursor: pointer;">Upload</a>
    </li>
  </ul>
</div>
</nav>
