<div class="container">
<div *ngIf="upload">
  <div class="progress">
    <div class="progress-bar progress-bar-animated"
    [ngStyle]="{ 'width': upload?.progress + '%' }"></div>
</div>
  Progress: {{upload?.progress}}% Complete
</div>
  <h5>Upload New Images</h5>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-warning" (click)="uploadFiles()">Upload Images</button>
    </div>
    <div class="custom-file">
      <input type="file" (change)="handleFiles($event)" multiple class="custom-file-input" accept=".png,.jpg">
      <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
    </div>
  </div>
</div>
